@font-face {
  font-family: 'SegoeWP-Semibold';
  src: url('../fonts/SegoeWP-Semibold.eot'); 
  src: url('../fonts/SegoeWP-Semibold.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/SegoeWP-Semibold.woff2') format('woff2'), 
       url('../fonts/SegoeWP-Semibold.woff') format('woff'), 
       url('../fonts/SegoeWP-Semibold.ttf')  format('truetype'), 
       url('../fonts/SegoeWP-Semibold.svg#SegoeWP-Semibold') format('svg'); 
}
@font-face {
  font-family: 'SegoeWP-Semilight';
  src: url('../fonts/SegoeWP-Semilight.eot'); 
  src: url('../fonts/SegoeWP-Semilight.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/SegoeWP-Semilight.woff2') format('woff2'), 
       url('../fonts/SegoeWP-Semilight.woff') format('woff'), 
       url('../fonts/SegoeWP-Semilight.ttf')  format('truetype'), 
       url('../fonts/SegoeWP-Semilight.svg#SegoeWP-Semilight') format('svg'); 
}
@font-face {
  font-family: 'SegoeWPN-Semilight';
  src: url('../fonts/SegoeWPN-Semilight.eot'); 
  src: url('../fonts/SegoeWPN-Semilight.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/SegoeWPN-Semilight.woff2') format('woff2'), 
       url('../fonts/SegoeWPN-Semilight.woff') format('woff'), 
       url('../fonts/SegoeWPN-Semilight.ttf')  format('truetype'), 
       url('../fonts/SegoeWPN-Semilight.svg#SegoeWP-Semilight') format('svg'); 
}
@font-face {
  font-family: 'SegoeWP-Light';
  src: url('../fonts/SegoeWP-Light.eot'); 
  src: url('../fonts/SegoeWP-Light.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/SegoeWP-Light.woff2') format('woff2'), 
       url('../fonts/SegoeWP-Light.woff') format('woff'), 
       url('../fonts/SegoeWP-Light.ttf')  format('truetype'), 
       url('../fonts/SegoeWP-Light.svg#SegoeWP-Light') format('svg'); 
}
@font-face {
  font-family: 'SegoeWP-Bold';
  src: url('../fonts/SegoeWP-Bold.eot'); 
  src: url('../fonts/SegoeWP-Bold.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/SegoeWP-Bold.woff2') format('woff2'), 
       url('../fonts/SegoeWP-Bold.woff') format('woff'), 
       url('../fonts/SegoeWP-Bold.ttf')  format('truetype'), 
       url('../fonts/SegoeWP-Bold.svg#SegoeWP-Bold') format('svg'); 
}
@font-face {
  font-family: 'SegoeWP-Black';
  src: url('../fonts/SegoeWP-Black.eot'); 
  src: url('../fonts/SegoeWP-Black.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/SegoeWP-Black.woff2') format('woff2'), 
       url('../fonts/SegoeWP-Black.woff') format('woff'), 
       url('../fonts/SegoeWP-Black.ttf')  format('truetype'), 
       url('../fonts/SegoeWP-Black.svg#SegoeWP-Black') format('svg'); 
}

@font-face {
  font-family: 'SegoeWP';
  src: url('../fonts/SegoeWP.eot'); 
  src: url('../fonts/SegoeWP.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/SegoeWP.woff2') format('woff2'), 
       url('../fonts/SegoeWP.woff') format('woff'), 
       url('../fonts/SegoeWP.ttf')  format('truetype'), 
       url('../fonts/SegoeWP.svg#SegoeWP') format('svg'); 
}

.nav-pills a {
	color: #7b7b7b;
	margin-top: 4px;
	margin-bottom: 4px;
}

.active a{
	background-image: -webkit-linear-gradient(#35aff7, #238be9);
	background-image: -o-linear-gradient(#35aff7, #238be9);
	background-image: linear-gradient(#35aff7, #238be9);
}
body {
  padding-top: 50px;
}

header {
background-position: 50% 50%;
background-color: rgba(0, 0, 0, 0);
background-image: url("../images/bg.jpg");
background-size: cover;
background-position: center center;
min-height: 600px;
width: 100%;
padding-top: 150px;
}

.col-12-md {
	width: 100%;
}

.centered {
	text-align: center;
}

header h1 {
	 font-family: 'SegoeWP-Semibold';
	 font-size: 50px;
	 text-transform: uppercase;
	 color: #fff;
}

header h2 {
	font-family: 'SegoeWP-Semilight';
	 font-size: 45px;
	 text-transform: uppercase;
	 color: #fff;
	 letter-spacing: 2px;
}
.btn {
	border-radius: 5px;
	font-size: 28px;
	font-family: 'SegoeWP-Semibold';
	color: #fff;
	padding: 8px 45px;
	margin-top: 50px;
	text-shadow: 1px 1px 2px #b3b5b2; 
	border: 5px solid rgba(0, 0, 0, .2);
}
.btn-green {
	background: #6DB81C;
    background-image: -webkit-linear-gradient(#65cc4f, #39b126);
    background-image: -o-linear-gradient(#65cc4f, #39b126);
    background-image: linear-gradient(#65cc4f, #39b126);
  	background-clip: padding-box;
}
section {
  min-height: 600px;
  padding-top: 400px;
  padding-bottom: 120px;
  
}
section.grey {
  background: #ececec repeat scroll 0 0;
}

figure {
  padding-left: 30px;
  padding-right: 30px;
}
figcaption {
  font-family: 'SegoeWP-Light';
  font-size: 22px;
  color: #8d8b8b;
}

footer {
  background: #414141 repeat scroll 0 0;
}
footer p {
  font-family: 'SegoeWP-Light';
  font-size: 16px;
  margin-top: 8px;
  color: #b1b1b1;
 }
